//common style
@style-bg: #eee;
@style-main : #80bd01;
@style-color: #2c3e50;
#root{
    height:100%;
}
.cnode-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
// 头部
.cnode-common-header {
    color: #FFF;
    background: #80bd01;
    font-size: 1.6rem;
    width: 100%;
   .cnode-nav{
        .cnode-nav-list {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            padding: 10px 3px;
            .cnode-nav-item {
                flex: 1;
                text-align: center;
                &:not(:last-child) {
                    border-right: 1px solid #618F00;
                }
                .sel-nav {
                    background: #5e8a01;
                    border-radius: 4px;
                    width: 80%;
                    display: inline-block;
                    padding: 4px 0;
                }
            }
        }
    }  
}

//底部
.common-cnode-footer {
    color: #FFF;
    background: #80bd01;
    font-size: 1.6rem;
    width: 100%;
    .cnode-footer-sortlist {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        .cnode-footer-options {
            flex: 1;
            padding: 6px 0;
            text-align: center;
            .iconfont {
                font-size: 2rem;
            }
            .bottom-footer-icon{
                height: 4px;
                display:block;
            }
            .home-page-icon {
                font-size: 1.6rem;
            }
            .msg-icon {
                font-size: 1.8rem;
            }
        }
        .sel-footer-options{
            background:#87c701;
        }
    }
}


/* 主题首页 */
.cnode-main-wrapper{
    display: flex;
    flex: 1;
    overflow-y: scroll;
    width:100%;
    .cnode-topics-list {
        width:100%;
        .cnode-topics-item {
            width:100%;
            padding: 10px 10px;
            box-sizing: border-box;
            border-bottom: 1px solid #ccc;
            font-size: 1.2rem;
            .topic-item-hd {
                display: flex;
                display: -webkit-flex;
                align-items: center;
                .topic-tit-btn{
                    padding: 2px 4px;
                    border-radius: 4px;
                    border:1px solid #ccc;
                    margin-right: 10px;
                }
                .topic-desc-tit{
                    flex:1;
                    font-size: 1.4rem;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    overflow:hidden;
                }
                margin-bottom: 6px;
            }
            .topic-item-bd {
                display: flex;
                display: -webkit-flex;
                align-items: center;
                .topic-user-info{
                    display: flex;
                    display: -webkit-flex;
                    flex: 1;
                    align-items: center;
                    .topic-avatar {
                        height: 38px;
                        border-radius: 19px;
                        margin-right: 6px;
                    }
                }
                .topic-date-info{
    
                }
            }
        }
    }
}
