.white-color {
  color: #FFF;
}
.clear {
  *zoom: 1;
}
.clear:after {
  clear: both;
  content: '';
  display: block;
}
#root {
  height: 100%;
}
#root .cnode-content-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 100%;
}
.load-more-container {
  text-align: center;
  padding: 10px 0;
}
.index-menu-header {
  color: #FFF;
  background: #80bd01;
  font-size: 1.6rem;
  width: 100%;
}
.index-menu-header .cnode-nav .cnode-nav-list {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  padding: 10px 3px;
}
.index-menu-header .cnode-nav .cnode-nav-list .cnode-nav-item {
  flex: 1;
  text-align: center;
}
.index-menu-header .cnode-nav .cnode-nav-list .cnode-nav-item:not(:last-child) {
  border-right: 1px solid #618F00;
}
.index-menu-header .cnode-nav .cnode-nav-list .cnode-nav-item a {
  color: #FFF;
}
.index-menu-header .cnode-nav .cnode-nav-list .cnode-nav-item .sel-nav {
  background: #5e8a01;
  border-radius: 4px;
  width: 80%;
  display: inline-block;
  padding: 4px 0;
}
.common-cnode-header {
  width: 100%;
  font-size: 1.6rem;
  color: #FFF;
  background: #80bd01;
  display: flex;
  display: -webkit-flex;
  padding: 10px 10px;
  box-sizing: border-box;
}
.common-cnode-header .header-txt-part {
  flex: 1;
  text-align: center;
}
.common-cnode-footer {
  color: #FFF;
  background: #80bd01;
  font-size: 1.6rem;
  width: 100%;
}
.common-cnode-footer .cnode-footer-sortlist {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.common-cnode-footer .cnode-footer-sortlist .cnode-footer-options {
  flex: 1;
  text-align: center;
}
.common-cnode-footer .cnode-footer-sortlist .cnode-footer-options .iconfont {
  font-size: 2rem;
}
.common-cnode-footer .cnode-footer-sortlist .cnode-footer-options .bottom-footer-icon {
  height: 4px;
  display: block;
}
.common-cnode-footer .cnode-footer-sortlist .cnode-footer-options .home-page-icon {
  font-size: 1.6rem;
}
.common-cnode-footer .cnode-footer-sortlist .cnode-footer-options .msg-icon {
  font-size: 1.8rem;
}
.common-cnode-footer .cnode-footer-sortlist .cnode-footer-options a {
  color: #FFF;
}
.common-cnode-footer .cnode-footer-sortlist .sel-footer-options {
  padding: 6px 0;
  background: #87c701;
  display: block;
}
/* 公用主题内容 */
.cnode-main-wrapper {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  overflow-y: scroll;
  width: 100%;
}
/* 首页主题列表 */
.cnode-topics-list {
  width: 100%;
}
.cnode-topics-list .cnode-topics-item {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}
.cnode-topics-list .cnode-topics-item .topic-item-hd {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 6px;
}
.cnode-topics-list .cnode-topics-item .topic-item-hd .topic-tit-btn {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.cnode-topics-list .cnode-topics-item .topic-item-hd .topic-desc-tit {
  flex: 1;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cnode-topics-list .cnode-topics-item .topic-item-bd {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.cnode-topics-list .cnode-topics-item .topic-item-bd .topic-user-info {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  align-items: center;
}
.cnode-topics-list .cnode-topics-item .topic-item-bd .topic-user-info .topic-avatar {
  height: 38px;
  border-radius: 19px;
  margin-right: 6px;
}
.signin-content-box {
  width: 280px;
  margin: 45% auto 0;
}
.signin-content-box .access-token-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 8px 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
}
.signin-content-box .signin-btn {
  display: block;
  width: 100%;
  padding: 5px 10px;
  line-height: 28px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: #80bd01;
  margin-top: 30px;
  border: none;
  font-size: 1.4rem;
}
.signin-msg-box {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 1.6rem;
}
.signin-msg-box .signin-tip-link {
  color: #80bd01;
}
.signout-content-box {
  width: 280px;
  margin: 45% auto 0;
  font-size: 1.4rem;
}
.signout-content-box .signout {
  display: block;
  width: 100%;
  padding: 5px 10px;
  line-height: 28px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: #e63e3e;
  margin-top: 30px;
  border: none;
  font-size: 1.4rem;
}
.user-info-wrapper {
  position: absolute;
  width: 100%;
}
.user-info-wrapper .user-info-center {
  width: 100%;
  padding: 20px 0;
  background: #87c701;
  color: #FFF;
  text-align: center;
  font-size: 1.2rem;
}
.user-info-wrapper .user-info-center .user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.user-info-wrapper .user-info-center .user-login-name {
  font-weight: bold;
  font-size: 1.5rem;
}
.user-info-wrapper .user-info-center .user-reg-date {
  margin-left: 20px;
}
.user-info-wrapper .user-topic-reply {
  font-size: 1.4rem;
}
.user-info-wrapper .user-topic-reply .topic-reply-tab {
  display: flex;
  display: -webkit-flex;
  font-size: 1.6rem;
  text-align: center;
  background: #eee;
}
.user-info-wrapper .user-topic-reply .topic-reply-tab .uinfo-tab-option {
  flex: 1;
  padding: 8px 0;
}
.user-info-wrapper .user-topic-reply .topic-reply-tab .sel-uinfo-tab {
  border-bottom: 3px solid #80bd01;
}
.user-info-wrapper .user-topic-reply .topic-reply-list .trlist-item {
  padding: 8px 6px;
  border-bottom: 1px solid #eee;
}
.user-info-wrapper .user-topic-reply .topic-reply-list .trlist-item .tr-res-date {
  font-size: 1.2rem;
  color: #aaa;
  float: right;
}
